[Unit]
Description=MooseFS Chunkserver
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=sudo /usr/sbin/mfschunkserver  -c /etc/mfs/mfschunkserver.cfg start
ExecStop=sudo /usr/sbin/mfschunkserver -c /etc/mfs/mfschunkserver.cfg stop
ExecReload=sudo /usr/sbin/mfschunkserver -c /etc/mfs/mfschunkserver.cfg reload
PIDFile=/var/lib/mfs/.mfschunkserver.lock
Restart=on-failure



[Install]
WantedBy=multi-user.target
