[Unit]
Description=MooseFS Chunkserver
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=mfs
Group=mfs
ExecStart=/usr/sbin/mfschunkserver start
ExecStop=/usr/sbin/mfschunkserver stop
ExecReload=/usr/sbin/mfschunkserver reload
PIDFile=/var/lib/mfs/.mfschunkserver.lock
TimeoutStopSec=600
TimeoutStartSec=60
Restart=on-failure



[Install]
WantedBy=multi-user.target
