- name: Remove existing Network interfaces File
  file:
    path: /etc/network/interfaces
    state: absent

- name: Create an empty file
  ansible.builtin.file:
    path: /etc/network/interfaces
    state: touch
    mode: '0644'

- name: Recreate File
  ansible.builtin.file:
    path: /etc/network/interfaces
    owner: root
    group: root
    mode: '0644'

- name: network interfaces file
  copy:
    src: interfaces.cfg
    dest: /etc/network/interfaces
    
- name: Update Current IP Address
  ansible.builtin.replace:
    path: /etc/network/interfaces
    regexp: "10.0.10.5"
    replace: "{{ansible_default_ipv4.address}}"

- name: Identify all 10G interfaces
  debug:
    msg: "Found a 10G interface: {{ item }}"
  loop: "{{ ansible_interfaces }}"
  when: 
    - ansible_facts[item]['speed'] is defined
    - ansible_facts[item]['speed'] == 10000
  register: 10Ginterface
