- name: Remove existing Network interfaces File
  file:
    path: /etc/network/interfaces
    state: absent

- name: Create an empty file
  ansible.builtin.file:
    path: /etc/network/interfaces
    state: touch
    mode: '0644'

- name: Recreate File
  ansible.builtin.file:
    path: /etc/network/interfaces
    owner: root
    group: root
    mode: '0644'

- name: network interfaces file
  copy:
    src: interfaces.cfg
    dest: /etc/network/interfaces
    
- name: Update Current IP Address
  ansible.builtin.replace:
    path: /etc/network/interfaces
    regexp: "10.0.10.5"
    replace: "{{ansible_default_ipv4.address}}"

- name: Find the 10G interface name
      set_fact:
        is10g: "{{ item }}"
      loop: "{{ ansible_interfaces }}"
      when: 
        - ansible_facts[item]['speed'] is defined
        - ansible_facts[item]['speed'] == target_speed
      # This ensures we pick the first matching 10G card found
      
    - name: Fail if no 10G interface is found
      fail:
        msg: "No 10G interface detected on this host."
      when: is10g is not defined
